{
	"branches": ["main"],
	"tagFormat": "${version}",
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"preset": "angular",
				"releaseRules": [
					{ "type": "docs", "scope": "README", "release": "patch" },
					{ "type": "refactor", "release": "patch" },
					{ "type": "style", "release": "patch" },
					{ "type": "ci", "release": "patch" },
					{ "type": "deps", "release": "patch" },
					{ "type": "chore", "release": "patch" },
					{ "type": "build", "release": "patch" },
					{ "type": "perf", "release": "patch" },
					{ "type": "test", "release": "patch" },
					{ "type": "feat", "release": "minor" }
				],
				"parserOpts": {
					"noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
				}
			}
		],
		[
			"@semantic-release/release-notes-generator",
			{
				"preset": "angular",
				"parserOpts": {
					"noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
				},
				"writerOpts": {
					"commitsSort": ["subject", "scope"]
				},
				"presetConfig": [
					{ "type": "feat", "section": "Features" },
					{ "type": "fix", "section": "Bug Fixes" },
					{ "type": "perf", "section": "Performance Improvements" },
					{ "type": "refactor", "section": "Performance Improvements" },
					{ "type": "docs", "section": "Documentation" },
					{ "type": "deps", "section": "Dependencies Patch Upgrade" },
					{ "type": "ci", "section": "Workflow Changes" },
					{ "type": "build", "section": "Build Changes" },
					{ "type": "style", "section": "Styles Changes" },
					{ "type": "test", "section": "Tests" }
				]
			}
		],
		[
			"@semantic-release/git",
			{
				"assets": ["package.json"],
				"message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
			}
		],
		"@semantic-release/changelog",
		"@semantic-release/npm",
		"@semantic-release/github"
	],
	"verifyConditions": ["@semantic-release/git", "@semantic-release/github"]
}
