name: "Chromatic"

on:
  push:
    branches:
        - 'main'

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22.20.0
      - name: Install dependencies
        run: npm ci
      - name: Run Chromatic
        uses: chromaui/action@v15.1.1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}